@import '../../../styles/custom.scss';

// all tests CSS, will be removed
h1 {
  color: burlywood;
  padding: 20px;
  text-decoration: underline;
}

.testThings {
  width: 200px;
  height: 200px;
}

.materialUiShadow {
  @include materialUiShadow;
}

.materialUiShadow:hover {
  @include materialUiShadowHover;
}
